input{
    margin: 25px auto 30px;
    text-indent: 0.3em;
}

h3{
    margin: 15px auto;
}

#alter{
    width:450px;
    height:300px;
    margin:20px auto 20px;
}

#submit,button,input[type='reset']{
    background-color: rgb(63, 137, 236);
    color:white;
    margin-top:50px;
    width: 80px;
    height: 30px;
    text-align: center;
    cursor:pointer;
    border:0px;
}

input[type='reset']{
    margin-left:30%;
    background-color: grey;
    margin-right: 30px;
}

p:not(.msg){
    margin: 10px auto;
    height: 50px;
}

p label{
    display: inline-block;
    width: 170px;
    text-align: right;
    margin-right: 10px;
}

input[readonly]{
    background-color: #EEEEEE;
    cursor: not-allowed;
}