<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>password</title>
    <link rel="stylesheet" href="../static/css/table.css">
    <link rel="stylesheet" href="../static/font/iconfont.css">
    <script src="../static/js/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
</head>
<body>
    <fieldset>
        <legend><h2>密钥管理</h2></legend>
        <div style="height: 550px">
            <form action="{{ url_for('Admin.search_passwords') }}" method="post">
                <input type="search" name="content" placeholder="输入查询内容">
                <label style="font-size: 14px">关键字：</label>
                <select name="keyword" >
                    <option value="kid">编号</option>
                    <option value="kname">开发者名称</option>
{#                    <option value="kpiname">所属应用名</option>#}
                </select>
                <input type="submit" value="查询" style="height: 30px;background-color:#ff9b3b;">
                <button class="add blue">
                    <span class="icon iconfont icon-1_add"></span>&nbsp新增
                </button>
            </form>
            <table class="pure-table">
            <thead>
                <tr>
                    <th width="15%">编号</th>
                    <th width="15%" >开发者名称</th>
                    <th width="20%">密钥值</th>
                    <th width="20%">密钥过期时间</th>
                    <th width="10">是否过期</th>
                    <th width="20%">操作</th>
                </tr>
            </thead>
            <tbody>
            {% for password in passwordlist.items %}
            <tr {% if loop.index % 2 == 0%}class="pure-table-odd"{% endif %}>
                <td>{{ loop.index }}</td>
                <td>{{ password[1].Dname }}</td>
                <td>{{ password[0].Kvalue }}</td>
                <td>{{ password[0].Kdate }}</td>

                <td>{{ '是' if password.outofdate==1 else '否' }}</td>
                <td>
                    <a class="green dragshow update" target="drag" href="{{ url_for('Admin.updatepassword') }}?id={{ password.Apid }}">修改</a>
                    <a class="red delete" href="{{ url_for('Admin.deletepassword') }}?id={{ password.Apid }}">删除</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>

        <div style="text-align: center"><ul class="pagination">
            <li >
                <a {% if not passwordlist.has_prev %}class="disabled"{% endif %}
                   href="{{url_for('Admin.admin_password')}}?page={{ passwordlist.prev_num}} ">«</a>
            </li>
            {% for page_num in range(1,passwordlist.pages + 1) %}
                <li>
                    <a href="{{url_for('Admin.admin_password')}}?page={{ page_num }}"
                            {% if passwordlist.page==page_num %} class="active"{% endif %}>{{ page_num }}</a>
                </li>
            {% endfor %}
            <li >
                <a {% if not passwordlist.has_next %}class="disabled"{% endif %}
                   href="{{url_for('Admin.admin_password')}}?page={{ passwordlist.next_num }}">»</a>
            </li>
        </ul></div>
    </fieldset>
    <script>
        $('ul.pagination li a.disabled').click(function(event){
            event.preventDefault();});
    </script>
</body>