<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/form.css">
</head>
<body>
    <h3 style="text-align: center">申请密钥</h3>
    <p style="height:14px;text-align: center;color:red;margin:5px;{{"display:none;" if msg=='' else ""}}">{{ msg }}</p>
    <div id="alter">
        <form action="/developer/addpassword" method="post" enctype="multipart/form-data"
              accept="image/jpg,image/bmp,image/png">
            <p><label for="apname">应用名称</label><input name="apname" type="text" id="apname"></p>
{#            <p><label for="apid">应用编号</label><input type="number" name="apid" required="required" id="apid"></p>#}
            <p>
                <input type="reset" value="重置">
                <input type="submit" id="submit" value="申请">
            </p>
        </form>
    </div>
</body>
</html>