<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../static/js/jquery-3.4.1.min.js" charset="utf-8"></script>
</head>
<body>
    <img style="height: 350px;text-align: center;margin: 0 auto;display: block;">
</body>
<script>
    function getQueryVariable(variable)
    {
       var query = window.location.search.substring(1);
       var vars = query.split("&");
       for (var i=0;i<vars.length;i++) {
               var pair = vars[i].split("=");
               if(pair[0] == variable){return pair[1];}
       }
       return(false);
    }
    var fid = getQueryVariable('fid')
    $('img').attr('src','/developer/getface?fid='+fid);
</script>
</html>