<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mypassword</title>
    <link rel="stylesheet" href="../../static/css/table.css">
    <link rel="stylesheet" href="../../static/font/iconfont.css">
    <script src="../../static/js/jquery-3.4.1.min.js" charset="utf-8"></script>
    <script src="../../static/js/drag.js"></script>
</head>
<body>
    <div class="drag">
        <div class="dragtop">
            <span class="dragclose">
                <span class="icon iconfont icon-guanbi" style="color: lightgrey"/>
            </span>
        </div>
        <iframe class='dragframe' name="drag" src="/" frameborder="0" scrolling="no"></iframe>
    </div>
    <fieldset>
        <legend><h2>密钥管理</h2></legend>
        <div style="height: 550px">
            <form action="{{ url_for('Developer.SearchPassword') }}" method="post">
                <input type="search" placeholder="输入查询内容" name="content">
                <label style="font-size: 14px">关键字：</label>
                <select name="keyword" >
                    <option value="kid">编号</option>
                    <option value="kname">密钥值</option>
                    <option value="kpiname">所属应用名</option>
                </select>
                <input type="submit" value="查询" style="height: 30px;background-color:#ff9b3b;">
                <a class="add blue dragshow" target="drag" href="{{ url_for('Developer.addpassword') }}">
                    <span class="icon iconfont icon-1_add" ></span>&nbsp申请
                </a>
            </form>
            <table class="pure-table">
            <thead>
                <tr>
                    <th width="15%">编号</th>
                    <th width="20%">密钥值</th>
                    <th width="20%">密钥过期时间</th>
                    <th width="10%" >应用名称</th>
                    <th width="10">是否过期</th>
                    <th width="25%">操作</th>
                </tr>
            </thead>
            <tbody>
            {% for password in passwordlist.items %}
            <tr {% if loop.index % 2 == 0%}class="pure-table-odd"{% endif %}>
                <td>{{ password.Apid }}</td>
                <td>{{ '未批准' if password.Kvalue==None else password.Kvalue }}</td>
                <td>{{ password.Kdate }}</td>
                <td>{{ password.Apname }}</td>
                <td>{{ '是' if password.outofdate==1 else '否' }}</td>
                <td>
{#                    <button class="blue">查看</button>#}
{#                    <button class="green">修改</button>#}
{#                    <button class="red">删除</button>#}
{#                    <a class="add blue dragshow" target="drag" href="{{ url_for('Developer.addpassword') }}">#}
{#                    <span class="icon iconfont icon-1_add" ></span>申请#}
{#                    </a>#}
                    <a class="green dragshow update" target="drag" href="{{ url_for('Developer.updatepassword') }}?id={{ password.Apid }}">修改</a>
                    <a class="red delete" href="{{ url_for('Developer.deletepassword') }}?id={{ password.Apid }}">删除</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>

        <div style="text-align: center"><ul class="pagination">
            <li >
                <a {% if not passwordlist.has_prev %}class="disabled"{% endif %}
                   href="{{url_for('Developer.MyPassword')}}?page={{ passwordlist.prev_num}} ">«</a>
            </li>
            {% for page_num in range(1,passwordlist.pages + 1) %}
                <li>
                    <a href="{{url_for('Developer.MyPassword')}}?page={{ page_num }}"
                            {% if passwordlist.page==page_num %} class="active"{% endif %}>{{ page_num }}</a>
                </li>
            {% endfor %}
            <li >
                <a {% if not passwordlist.has_next %}class="disabled"{% endif %}
                   href="{{url_for('Developer.MyPassword')}}?page={{ passwordlist.next_num }}">»</a>
            </li>
        </ul></div>
    </fieldset>
    <script>
        $('ul.pagination li a.disabled').click(function(event){event.preventDefault();});
    </script>
</body>